textarea {
    resize: vertical; /* Disable horizontal resizing in text area */
}

.chat-area {
    overflow: auto; /* Enable scroll bar if needed */
    height: 55vh; /* Chat area will be 55% of view port height */
    padding: 15px;
    margin: -15px;
}

.online-list {
    overflow: auto; /* Enable scroll bar if needed */
    height: 90vh; /* Online list will be 90% of view port height */
    padding-right: 5px;
}

.container {
    padding-top: 40px;
}

/* Used on message that current user is sent */
.mine {
    background-color: rgba(71, 229, 35, 0.1);
}

.media-name {
    color: #ea8627;
}

.info-message {
    margin-top: 20px;
}

#leave-button, #check-state-button {
    margin-top: -5px;
    margin-bottom: -15px;
}

.panel-title {
    padding-top: 5px;
}
